.header{
    background: #f0f0f0;
    padding: 92px 52px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: 18px;
}
.header__links-list{
    list-style: circle inside;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.header__links-list-item_no-bullit{
    list-style: none;
    
}

.header__logo{
    width: 130px;
}

.header__address{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__address address{
    font-style: inherit;
}